$title_color: #333b46;
$text_color: #81868e;
$light_text_color: #b2b3b3;
$slider_tab_color: #464646;
$primary_color: #fff;
$secondary_color: #f3f3f3;
$buttons_color: #19bd9a;

$short_duration: .3s;
$normal_duration: .5s;
$long_duration: .7s;

