@import '../parameters/varibles';
@import '../parameters/mixins';

.about {
    display: flex;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
    justify-content: center;
    padding: 35px 0;
    background-color: $primary_color;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 850px;
        width: 90%;
    }
    p {
        margin-bottom: 30px;
    }
    &__text {
        max-width: 450px;
    }
    &__image {
        height: 350px;
        margin-top: 30px;
    }
}