@import '../parameters/varibles';
@import '../parameters/mixins';

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: $secondary_color;

}